.control {
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    background: white;
    border-right: 1px solid gray;

    table {
        user-select: none;

        tr {
            td:nth-child(2) {
                padding: 4px;
            }

            button {
                width: 30px;
                height: 30px;
            }
        }
    }
}
