@font-face {
    font-family: 'M Plus Rounded 1c';
    font-weight: lighter;
    src: url(./assets/fonts/MPLUSRounded1c-Light.ttf);
}
@font-face {
    font-family: 'M Plus Rounded 1c';
    font-weight: normal;
    src: url(./assets/fonts/MPLUSRounded1c-Regular.ttf);
}
@font-face {
    font-family: 'M Plus Rounded 1c';
    font-weight: bold;
    src: url(./assets/fonts/MPLUSRounded1c-Bold.ttf);
}

#root {
    font-family: 'M Plus Rounded 1c', sans-serif;
    font-weight: normal;
}
